<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h2>
  <h3>This has been hot-released</h3>
  <p class="lead">A productive web framework that<br />does not compromise speed and maintainability.</p>
</div>
